{% extends 'base.html' %}
{% load static %}

{% block header %}

    class="header"

{%endblock %}

{% block content %}

    {% include 'includes/page-header.html' %}

    <main class="ptb100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity1.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Bryan Doe</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity2.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Baron Saul</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity3.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Ewan Actor</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity4.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Nicole Beet</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity5.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Norman Cage</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="celebrity-list-1">
                        <div class="celeb-container">
                            <div class="celebrity-image">
                                <a href="celebrity-detail.html">
                                    <img
                                        src="{% static 'assets/images/celebrities/celebrity6.jpg' %}"
                                        alt=""
                                    />
                                </a>
                            </div>

                            <div class="celebrity-content">
                                <div class="inner">
                                    <h3 class="title">
                                        <a href="celebrity-detail.html"
                                            >Tiffany Smith</a
                                        >
                                    </h3>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <nav class="pagination">
                        <ul>
                            <li><a href="#" class="current-page">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#"><i class="ti-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
