{% extends 'base.html' %}
{% load static %}

{% block header %}

    class="header"

{% endblock %}

{% block content %}

    {% include 'includes/page-header.html' with category=title %}

    <main class="ptb100">
        <div class="container">
            <div class="row">
            {% for movie in movies %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="movie-box-1 mb30">
                        <div class="poster">
                            <img src="{{ movie.poster.url }}" alt="">
                        </div>
                        <div class="buttons">
                            <a href="{{ movie.link }}" class="play-video">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="movie-details">
                            <h4 class="movie-title">
                                <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                            </h4>
                            <span class="released">{{ movie.year_of_production }}</span>
                        </div>
                        <div class="stars">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <span>7.5 / 10</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% include 'includes/pagination.html' with page=page_obj %}
        </div>
    </main>

{% endblock %}
