{% extends 'base.html' %}
{% load static %}

{% block header %}

    class="header header-fixed header-transparent text-white"

{% endblock %}

{% block content %}

<section
	class="movie-detail-intro overlay-gradient ptb100"
	style="background: url(assets/images/other/movie-detail-bg.jpg})">
	<div class="container">
		<div class="movie-details">
			<h3 class="title">{{ movie.title }}</h3>

            <ul class="movie-subtext"></ul>

			<a href="#" class="btn btn-main btn-effect">trailer</a>
			<a href="#" class="btn btn-main btn-effect">watch later</a>
			<a href="#" class="btn rate-movie"><i class="icon-heart"></i></a>

			<div class="rating mt10">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
				<span>296 Ratings</span>
			</div>
		</div>

		<a href="{{ movie.link }}" class="play-video">
			<i class="fa fa-play"></i>
		</a>
	</div>
</section>

<section class="movie-detail-main ptb100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<div class="inner pr50">
					<div class="storyline">
						<h3 class="title">Обзор</h3>
						<p>{{ movie.description }}</p>
					</div>

					<div class="movie-media mt50">
						<h3 class="title">Кадры из фильма</h3>

						<ul class="image-gallery isotope">
							<li class="element">
								<a href="{% static 'assets/images/blog/bloglist-1.jpg' %}">
									<img
										src="{% static 'assets/images/blog/bloglist-1.jpg' %}"
										class="img-responsive"
										alt=""
									>
								</a>
							</li>

							<li class="element">
								<a href="{% static 'assets/images/blog/bloglist-2.jpg' %}">
									<img
										src="{% static 'assets/images/blog/bloglist-2.jpg' %}"
										class="img-responsive"
										alt=""
									>
								</a>
							</li>

							<li class="element">
								<a href="{% static 'assets/images/other/home2-bg.jpg' %}">
									<img
										src="{% static 'assets/images/other/home2-bg.jpg' %}"
										class="img-responsive"
										alt=""
									>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/blog/bloglist-2.jpg' %}"
								>
									<img
										src="{% static 'assets/images/blog/bloglist-2.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/blog/bloglist-1.jpg' %}"
								>
									<img
										src="{% static 'assets/images/blog/bloglist-1.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/blog/bloglist-3.jpg' %}"
								>
									<img
										src="{% static 'assets/images/blog/bloglist-3.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/blog/bloglist-1.jpg' %}"
								>
									<img
										src="{% static 'assets/images/blog/bloglist-1.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/other/landscape.jpg' %}"
								>
									<img
										src="{% static 'assets/images/other/landscape.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>

							<li class="element">
								<a
									href="{% static 'assets/images/other/home2-bg.jpg' %}"
								>
									<img
										src="{% static 'assets/images/other/home2-bg.jpg' %}"
										class="img-responsive"
										alt=""
									/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12">
				<div class="sidebar">
					<aside class="widget widget-movie-details">
						<h3 class="title">Детали о фильме</h3>

						<ul>
							<li>
								<strong>Год производства: </strong>{{ movie.year_of_production}}
							</li>
                            <li><strong>Страна: </strong>{{ movie.country.first }}</li>
                            <li>
								<strong>Жанр: </strong>
                                {% for genre in movie.genre.all %}
                                    <a href="#">{{ genre }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
							</li>
							<li>
								<strong>Режиссёр: </strong>
                                {% for director in movie.director.all %}
                                    <a href="#">{{ director }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
							</li>
						</ul>
					</aside>

					<aside class="widget widget-movie-cast">
						<h3 class="title">В главных ролях:</h3>
						<ul class="cast-wrapper">
                            {% for actor in movie.actor.all %}
                                <li>
                                    <a href="celebrity-detail.html">
                                        <span class="circle-img">
                                            <img
                                                src="{{ actor.image.url }}"
                                                alt=""
                                            />
                                        </span>
                                        <h6 class="name">{{ actor.name }}</h6>
                                    </a>
                                </li>
                            {% endfor %}
						</ul>

						<a
							href="celebrities-list.html"
							class="btn btn-main btn-effect mt20"
							>view all</a
						>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
