<section class="subscribe bg-light2 ptb100">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 text-center">
				<h2 class="title">Join Movify Now!</h2>
				<h6 class="subtitle">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
					sed diam nonummy consectetuer adipiscing.
				</h6>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-7 col-sm-10 col-12">
				<form action="#" class="mailchimp mt50" novalidate>
					<div class="form-group">
						<div class="input-group">
							<input
								type="email"
								name="EMAIL"
								class="form-control"
								id="mc-email"
								placeholder="Your Email"
								autocomplete="off"
							/>
							<label for="mc-email"></label>
							<button
								type="submit"
								class="btn btn-main btn-effect"
							>
								Subscribe
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
